---
import type { Props } from '@astrojs/starlight/props';
import SiteTitle from '@astrojs/starlight/components/SiteTitle.astro';
import SocialIcons from '@astrojs/starlight/components/SocialIcons.astro';
import Search from '@astrojs/starlight/components/Search.astro';
import ThemeSelect from '@astrojs/starlight/components/ThemeSelect.astro';
import LanguageSelect from '@astrojs/starlight/components/LanguageSelect.astro';
---

<div class="header sl-flex">
	<div class="title-wrapper sl-flex">
		<SiteTitle {...Astro.props} />
	</div>
	
	<div class="sl-flex">
		<Search {...Astro.props} />
	</div>

	<div class="sl-hidden md:sl-flex right-group">
		<div class="sl-flex social-icons">
			<SocialIcons {...Astro.props} />
		</div>
		<ThemeSelect {...Astro.props} />
		<LanguageSelect {...Astro.props} />
	</div>
</div>

<style>
	.header {
		gap: var(--sl-nav-gap);
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.title-wrapper {
		/* Prevent long titles from overflowing */
		overflow: hidden;
	}

	.right-group {
		gap: 1rem;
		align-items: center;
	}

	.social-icons {
		gap: 1rem;
		align-items: center;
	}

	@media (min-width: 50rem) {
		:global(:root[data-has-sidebar]) {
			--sl-content-inline-start: var(--sl-sidebar-width);
		}
	}
</style>